<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>SIGNUP ADMIT</h1>
    <form  method="POST"action="">
        <input placeholder="Enter admitname" name="admit_name" type="text"><br>
        <input placeholder="Enter mobile number" name="mobile" type="text"><br>
        <input  placeholder="Enter Email" name="email" type="text"><br>
        <input placeholder=" Enter Address" name="address" type="text"><br>
        <input  placeholder=" Enter password" name="password" type="text"><br><br>
        <button>Signup</button>
    </form> 
</body>
</html>